


#wrap{margin: 0 auto; border-top:5px solid #009223; position: relative; }
.inner{width: 1300px; margin: 0 auto}
#header{height:150px; position: absolute;z-index: 99999;  background-color:#fff; overflow: hidden}
#section1{width:100%; height:440px; padding-top:150px}
#section2{padding-top: 100px; padding-bottom: 70px}
#section3{width:100%; overflow: hidden}
#footer{background-color: #333333; padding:40px 0}

/*********************header****************************/
.header_top h1{float: left; padding: 30px 0; padding-left: 38%}
.right_menu{float:right; margin-right: 70px; padding: 40px 0}
.right_menu li{border: 1px solid #929292; padding: 5px 5px; font-size: 0.9rem; margin-right: 5px; border-radius: 20px}
.right_menu li{float: left}

#nav{ text-align: center;}
#nav > ul{position: relative; width:1300px; padding-left:300px; padding-right:300px; text-align: center;  height:2.5em; background-color: #FFF; border-bottom:1px solid #ccc; }
#nav > ul > li{width:calc(19% - 120px); float: left; padding:10px 60px; font-weight: bold; text-align: center }
#nav > ul > li > ul{ position: absolute; line-height:30px; top:50px; overflow: hidden; font-weight: lighter; font-size: 1rem}
#nav > ul > li a:hover{font-weight:bold; }
#nav > ul > li > ul a:hover{font-weight:bold;}


                  
/*********************section****************************/
#section1 .quick_contents {position: absolute; left: 50%}
#section1 .quick_contents .store{background-color: #ffce32; padding: 25px 55px; border-radius: 20px 0 0 0; font-weight: bold }
#section1 .quick_contents .franchise{background-color: #009223; padding: 25px 70px; border-radius: 0 0 20px 0; color: #fff
}
#section2 span{font-size: 2rem; color: black; font-weight: 900; background: url(../images/bullet.png) no-repeat; padding:20px 20px}
#section2 .menulist li{float: left; text-align: center; width: 280px; margin: 30px 10px}
#section2 .menulist li h3{color: black; line-height: 50px;}
#section2 .menulist li p{color: #929292; font-size: 0.9rem; line-height: 20px}
#section2 ul li a{display: inline-block}
#section2 .menulist .btn{position:absolute; top:130px; left:33%; display:none}





#section3_bg{background:url(../images/bg_contents.gif)}
#sec3{height:440px; padding-top:100px;}
.sec3_left{width:calc(30% - 20px);height:300px; float: left; margin-right:30px; background-color:#01a5e2; overflow:hidden; border-top-left-radius: 40px; border-bottom-left-radius: 40px; border-bottom-right-radius: 40px; position: relative}
.sec3_left > img{position: absolute; top:100px; left:150px}
.sec3_left > h4{position: absolute; line-height:2rem; top:50px; left:30px; color:#fff; font-size: 1.7rem; }
.sec3_left > h5{position: absolute; top:200px; left:30px; border:1px solid #fff; padding:10px 10px; border-radius:20px; font-size: 1rem; color:#fff; }
.sec3_right{width:calc(60% - 4px); margin-left:10px; float: left; background-color:#ff8300; border-top-left-radius:40px; overflow: hidden; border-bottom-right-radius:40px; height:300px}
.sec3_right .sec3_rig_1{width:50%; float:left}
.sec3_right .sec3_rig_1 img{width:100%}
.sec3_right .sec3_rig_2{width:50%;float:left; position: relative}
.sec3_right .sec3_rig_2 h4{position: absolute; line-height: 2rem; top:50px; left:30px; color:#fff; font-size: 1.7rem;}
.sec3_right .sec3_rig_2 h5{position: absolute; border:1px solid #fff; color:#fff; top:200px; left:30px; padding:10px 10px; border-radius:20px; font-size: 1rem }


/*********************footer****************************/
#footer .footer_top .info{float: left; word-spacing: 10px}
#footer .footer_top .sns{float: right; padding-right: 120px}
#footer .footer_top li h5{font-size: 0.9rem}
#footer .footer_top li a img{right: 0}
#footer .footer_bottom p{font-size: 0.8rem; line-height: 1.1rem}



